appdirs==1.4.4
asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
codecov==2.1.8
coverage==5.1
distlib==0.3.1
Django==2.2.13
django-braces==1.14.0
django-debug-toolbar==2.2
django-model-utils==4.0.0
# Editable install with no version control (django-private-chat==0.3.0)
-e /home/tim/.virtualenvs/django-private-chat-3f0b8BOv/lib/python3.8/site-packages
django-test-plus==1.4.0
filelock==3.0.12
flake8==3.8.3
idna==2.10
mccabe==0.6.1
mock==4.0.2
packaging==20.3
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
tox==3.18.1
urllib3==1.26.5
virtualenv==20.0.28
websockets==8.1
